

<div id="sidebar">

    <div class="text-center">
        <img src="/image/logo.png" alt="logo">
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">

        <!-- Dashboard Start -->
        <h5 class="mt-5 mb-0">MAIN</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="fa-solid fa-house"></i> Dashboard
                </a>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="/deshboard">CRM</a></li>
                        <li><a href="">E-Commerce</a></li>
                        <li><a href="">HRM</a></li>
                        <li><a href="">Parsonal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Dashboard End -->
    
        <h5 class="mt-4 mb-0">PAGES</h5>
        <div class="accordion-item">

            <!-- Pages Start -->
            <h2 class="accordion-header" id="flush-headingPages">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePages" aria-expanded="false" aria-controls="flush-collapsePages">
                    <i class="fa-solid fa-file"></i> Pages
                </a>
            </h2>

            <div id="flush-collapsePages" class="accordion-collapse collapse" aria-labelledby="flush-headingPages" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="accordionFlushPage">
                        <ul>
                            <li class="accordion-header" id="flush-headingHome">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHome" aria-expanded="false" aria-controls="flush-collapseHome">
                                    Home
                                </a>
                            </li>
                            <div id="flush-collapseHome" class="accordion-collapse collapse" aria-labelledby="flush-headingHome" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingAbout">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAbout" aria-expanded="false" aria-controls="flush-collapseAbout">
                                    About Us
                                </a>
                            </li>
                            <div id="flush-collapseAbout" class="accordion-collapse collapse" aria-labelledby="flush-headingAbout" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingService">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseService" aria-expanded="false" aria-controls="flush-collapseService">
                                    Services
                                </a>
                            </li>
                            <div id="flush-collapseService" class="accordion-collapse collapse" aria-labelledby="flush-headingService" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingContact">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseContact" aria-expanded="false" aria-controls="flush-collapseContact">
                                    Contact Us
                                </a>
                            </li>
                            <div id="flush-collapseContact" class="accordion-collapse collapse" aria-labelledby="flush-headingContact" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingFeatures">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFeatures" aria-expanded="false" aria-controls="flush-collapseFeatures">
                                    New Feature Release
                                </a>
                            </li>
                            <div id="flush-collapseFeatures" class="accordion-collapse collapse" aria-labelledby="flush-headingFeatures" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingGift">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGift" aria-expanded="false" aria-controls="flush-collapseGift">
                                    Gift Card
                                </a>
                            </li>
                            <div id="flush-collapseGift" class="accordion-collapse collapse" aria-labelledby="flush-headingGift" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingHelp">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHelp" aria-expanded="false" aria-controls="flush-collapseHelp">
                                    Help Center
                                </a>
                            </li>
                            <div id="flush-collapseHelp" class="accordion-collapse collapse" aria-labelledby="flush-headingHelp" data-bs-parent="#accordionFlushPage">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                        </ul>

                    </div>
                </div>
            </div> 
            <!-- Pages End -->
            
            <!-- Authentication Start -->
            <h2 class="accordion-header" id="flush-headingAuth">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAuth" aria-expanded="false" aria-controls="flush-collapseAuth">
                    <i class="fa-solid fa-fingerprint"></i> Authentication
                </a>
            </h2>

            <div id="flush-collapseAuth" class="accordion-collapse collapse" aria-labelledby="flush-headingAuth" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="accordion accordion-flush" id="accordionFlushAuth">
                        <ul>
                            <li class="accordion-header" id="flush-headingSoon">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSoon" aria-expanded="false" aria-controls="flush-collapseSoon">
                                    Coming Soon
                                </a>
                            </li>
                            <div id="flush-collapseSoon" class="accordion-collapse collapse" aria-labelledby="flush-headingSoon" data-bs-parent="#accordionFlushAuth">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingSignup">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSignup" aria-expanded="false" aria-controls="flush-collapseSignup">
                                    Sign Up
                                </a>
                            </li>
                            <div id="flush-collapseSignup" class="accordion-collapse collapse" aria-labelledby="flush-headingSignup" data-bs-parent="#accordionFlushAuth">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingSignin">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSignin" aria-expanded="false" aria-controls="flush-collapseSignin">
                                    Sign In
                                </a>
                            </li>
                            <div id="flush-collapseSignin" class="accordion-collapse collapse" aria-labelledby="flush-headingSignin" data-bs-parent="#accordionFlushAuth">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-headingReserpass">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseReserpass" aria-expanded="false" aria-controls="flush-collapseReserpass">
                                    Reset Password
                                </a>
                            </li>
                            <div id="flush-collapseReserpass" class="accordion-collapse collapse" aria-labelledby="flush-headingReserpass" data-bs-parent="#accordionFlushAuth">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                        </ul>

                    </div>
                </div>
            </div>
            <!-- Authentication Start -->

            <!-- Error Start -->
            <h2 class="accordion-header" id="flush-headingError">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseError" aria-expanded="false" aria-controls="flush-collapseError">
                    <i class="fa-solid fa-triangle-exclamation"></i> Error
                </a>
            </h2>

            <div id="flush-collapseError" class="accordion-collapse collapse" aria-labelledby="flush-headingError" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="accordion accordion-flush" id="accordionFlushError">
                        <ul>
                            <li class="accordion-header" id="flush-heading404">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse404" aria-expanded="false" aria-controls="flush-collapse404">
                                    404 - Error
                                </a>
                            </li>
                            <div id="flush-collapse404" class="accordion-collapse collapse" aria-labelledby="flush-heading404" data-bs-parent="#accordionFlushError">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-heading401">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse401" aria-expanded="false" aria-controls="flush-collapse401">
                                    401 - Error
                                </a>
                            </li>
                            <div id="flush-collapse401" class="accordion-collapse collapse" aria-labelledby="flush-heading401" data-bs-parent="#accordionFlushError">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                            <li class="accordion-header" id="flush-heading500">
                                <a class="accordion-button collapsed page_btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse500" aria-expanded="false" aria-controls="flush-collapse500">
                                    500 - Error
                                </a>
                            </li>
                            <div id="flush-collapse500" class="accordion-collapse collapse" aria-labelledby="flush-heading500" data-bs-parent="#accordionFlushError">

                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="">View</a></li>
                                        <li><a href="">Create</a></li>
                                        <li><a href="">JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>

                        </ul>

                    </div>
                </div>
            </div>
            <!-- Error End -->

        </div>

        <!-- Genaral Start -->
        <h5 class="mt-4 mb-0">GENERAL</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="fa-solid fa-building"></i> Ui Elements
                </a>
            </h2>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    
                    <ul>
                        <li><a href="">Cards</a></li>
                        <li><a href="">Alert</a></li>
                        <li><a href="">Breadcrumb</a></li>
                        <li><a href="">Button</a></li>
                        <li><a href="">Fonts</a></li>
                        <li><a href="">Icon</a></li>
                        <li><a href="">Badge</a></li>
                        <li><a href="">Images & Figures</a></li>
                    </ul>

                </div>
            </div> 
            
            <h2 class="accordion-header" id="flush-headingFour">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <i class="fa-solid fa-medal"></i> Utilities
                </a>
            </h2>

            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    
                    <ul>
                        <li><a href="">Avatars</a></li>
                        <li><a href="">Borders</a></li>
                        <li><a href="">Colors</a></li>
                        <li><a href="">Column</a></li>
                        <li><a href="">Breakpoint</a></li>
                        <li><a href="">Position</a></li>
                        <li><a href="">Flex</a></li>
                        <li><a href="">Helpers</a></li>
                        <li><a href="">Additional Content</a></li>
                    </ul>

                </div>
            </div>

            <h2 class="accordion-header" id="flush-headingFive">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <i class="fa-solid fa-store"></i> Advanced Ui
                </a>
            </h2>

            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    
                    <ul>
                        <li><a href="">Accordions</a></li>
                        <li><a href="">Carousel</a></li>
                        <li><a href="">Model</a></li>
                        <li><a href="">Navbar</a></li>
                        <li><a href="">Placeholder</a></li>
                        <li><a href="">Rating</a></li>
                        <li><a href="">Swiper JS</a></li>
                    </ul>

                </div>
            </div>

        </div>


        <!-- Tables Start -->
        <h5 class="mt-4 mb-0">TABLES</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    <i class="fa-solid fa-table"></i> Tables
                </a>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="">Tables</a></li>
                        <li><a href="">Grid JS tables</a></li>
                        <li><a href="">Data Tables</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Tables End -->


        <!-- Chart Start -->
        <h5 class="mt-4 mb-0">CHARTS</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingChart">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseChart" aria-expanded="false" aria-controls="flush-collapseChart">
                    <i class="fa-solid fa-chart-line"></i> Charts
                </a>
            </h2>
            <div id="flush-collapseChart" class="accordion-collapse collapse" aria-labelledby="flush-headingChart" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="">Apex Chart</a></li>
                        <li><a href="">Chart JS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Chart End -->


        <!-- Map Start -->
        <h5 class="mt-4 mb-0">MAPS</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <i class="fa-solid fa-earth-americas"></i> Maps
                </a>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="">Google Maps</a></li>
                        <li><a href="">Leaflet Maps</a></li>
                        <li><a href="">Vector Maps</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Map End -->

        <!-- Icons Start -->
        <h5 class="mt-4 mb-0">ICONS</h5>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    <i class="fa-solid fa-icons"></i> Icons
                </a>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="">Font Awesome</a></li>
                        <li><a href="">Icon 8</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Icons End -->


    </div>

    


    <div class="help_center">
        <h5>Need Help</h5>
        <p class="mb-0"><i class="fa-solid fa-phone"></i> +1 1234 567 890</p>
        <p class="mb-0"><i class="fa-regular fa-envelope"></i> email@site.com</p>
    </div>
</div>
