

<div id="topbar">
    <div class="d-flex align-items-center justify-content-between">
        <div class="hambar_icon"><i class="fa-solid fa-bars"></i></div>
        <div class="right_side_item">
            <ul>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-solid fa-cart-shopping"></i></li>
                <li><i class="fa-regular fa-bell"></i></li>
                <li class="user_img"><img src="/image/avatar.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>

